In [ ]:
import kagglehub

path = kagglehub.dataset_download("olistbr/brazilian-ecommerce")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'brazilian-ecommerce' dataset.
Path to dataset files: /kaggle/input/brazilian-ecommerce

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.gridspec import GridSpec
pd.set_option('display.max_columns', 100)
import plotly.offline as py
import plotly.express as px
import plotly.graph_objs as go
import json
import requests
import folium
from folium.plugins import FastMarkerCluster, Fullscreen, MiniMap, HeatMap, HeatMapWithTime, LocateControl
from wordcloud import WordCloud
from collections import Counter
from PIL import Image

import re
from nltk.corpus import stopwords
from nltk.stem import RSLPStemmer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
import joblib

In [ ]:
raw_path = '/kaggle/input/brazilian-ecommerce/'
olist_customer = pd.read_csv(raw_path + 'olist_customers_dataset.csv')
olist_geolocation = pd.read_csv(raw_path + 'olist_geolocation_dataset.csv')
olist_orders = pd.read_csv(raw_path + 'olist_orders_dataset.csv')
olist_order_items = pd.read_csv(raw_path + 'olist_order_items_dataset.csv')
olist_order_payments = pd.read_csv(raw_path + 'olist_order_payments_dataset.csv')
olist_order_reviews = pd.read_csv(raw_path + 'olist_order_reviews_dataset.csv')
olist_products = pd.read_csv(raw_path + 'olist_products_dataset.csv')
olist_sellers = pd.read_csv(raw_path + 'olist_sellers_dataset.csv')

In [ ]:
datasets = {
    "customers": olist_customer,
    "geolocation": olist_geolocation,
    "orders": olist_orders,
    "order_items": olist_order_items,
    "payments": olist_order_payments,
    "reviews": olist_order_reviews,
    "products": olist_products,
    "sellers": olist_sellers
}

for name, df in datasets.items():
    print(f"\n===== {name.upper()} =====")
    print(df.shape)
    print(df.head())
    print(df.info())

===== CUSTOMERS =====
(99441, 5)
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

===== GEOLOCATION =====
(1000163, 5)
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

===== ORDERS =====
(99441, 8)
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

===== ORDER_ITEMS =====
(112650, 7)
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

===== PAYMENTS =====
(103886, 5)
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

===== REVIEWS =====
(99224, 7)
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

===== PRODUCTS =====
(32951, 9)
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

===== SELLERS =====
(3095, 4)
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

In [ ]:
for name, df in datasets.items():
    print(f"\n--- Missing values in {name} ---")
    print(df.isna().sum())

--- Missing values in customers ---
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

--- Missing values in geolocation ---
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

--- Missing values in orders ---
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

--- Missing values in order_items ---
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

--- Missing values in payments ---
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

--- Missing values in reviews ---
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

--- Missing values in products ---
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

--- Missing values in sellers ---
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [ ]:
for df in [olist_customer, olist_geolocation, olist_orders,
           olist_order_items, olist_order_payments, olist_order_reviews,
           olist_products, olist_sellers]:
    df.drop_duplicates(inplace=True)

In [ ]:
date_cols = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]
olist_orders[date_cols] = olist_orders[date_cols].apply(pd.to_datetime)

In [ ]:
olist_orders = olist_orders[olist_orders["order_status"] == "delivered"]
olist_orders = olist_orders.dropna(subset=["order_delivered_customer_date"])

In [ ]:
olist_order_items['shipping_limit_date'] = pd.to_datetime(olist_order_items['shipping_limit_date'])

In [ ]:
olist_order_reviews["review_creation_date"] = pd.to_datetime(olist_order_reviews["review_creation_date"])
olist_order_reviews["review_answer_timestamp"] = pd.to_datetime(olist_order_reviews["review_answer_timestamp"])
olist_order_reviews["review_comment_title"] = olist_order_reviews["review_comment_title"].fillna("")
olist_order_reviews["review_comment_message"] = olist_order_reviews["review_comment_message"].fillna("")

In [ ]:
olist_products["product_category_name"] = (
    olist_products["product_category_name"].fillna("unknown")
)
cols_num = [
    "product_name_lenght", "product_description_lenght", "product_photos_qty",
    "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"
]

for col in cols_num:
    olist_products[col] = (
        olist_products.groupby("product_category_name")[col]
        .transform(lambda x: x.fillna(x.median()))
    )

In [ ]:
olist_customer["customer_zip_code_prefix"] = olist_customer["customer_zip_code_prefix"].astype(str)
olist_geolocation["geolocation_zip_code_prefix"] = olist_geolocation["geolocation_zip_code_prefix"].astype(str)
olist_sellers["seller_zip_code_prefix"] = olist_sellers["seller_zip_code_prefix"].astype(str)

In [ ]:
valid_ids = set(olist_order_items["order_id"])
olist_orders = olist_orders[olist_orders["order_id"].isin(valid_ids)]

In [ ]:
payments_agg = olist_order_payments.groupby("order_id").agg({
    "payment_value": "sum",
    "payment_installments": "max",
    "payment_type": lambda x: x.iloc[0]  # thường chỉ 1 loại
}).reset_index()

In [ ]:
olist_orders["delivery_time"] = (
    olist_orders["order_delivered_customer_date"] -
    olist_orders["order_purchase_timestamp"]
).dt.days

olist_orders["delay_vs_estimated"] = (
    olist_orders["order_delivered_customer_date"] -
    olist_orders["order_estimated_delivery_date"]
).dt.days

In [ ]:
fact = (
    olist_order_items
    .merge(olist_orders, on="order_id", how="left")
    .merge(olist_customer, on="customer_id", how="left")
    .merge(olist_products, on="product_id", how="left")
    .merge(olist_sellers, on="seller_id", how="left")
    .merge(payments_agg, on="order_id", how="left")
    .merge(olist_order_reviews, on="order_id", how="left")
)

In [ ]:
fact["purchase_date"] = fact["order_purchase_timestamp"].dt.date
fact["purchase_year"] = fact["order_purchase_timestamp"].dt.year
fact["purchase_month"] = fact["order_purchase_timestamp"].dt.to_period("M")
fact["purchase_weekday"] = fact["order_purchase_timestamp"].dt.weekday
fact["delivery_time"] = (
    fact["order_delivered_customer_date"] - fact["order_purchase_timestamp"]
).dt.days

fact["estimated_delivery_time"] = (
    fact["order_estimated_delivery_date"] - fact["order_purchase_timestamp"]
).dt.days

fact["delivery_delay"] = (
    fact["order_delivered_customer_date"] - fact["order_estimated_delivery_date"]
).dt.days
fact["item_total"] = fact["price"] + fact["freight_value"]
fact["has_comment"] = (fact["review_comment_message"].str.len() > 0).astype(int)

In [ ]:
fact.info()
fact.to_csv('fact.csv', index=False)
fact.to_parquet('fact.parquet', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113314 entries, 0 to 113313
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  datetime64[ns]
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    110832 non-null  object
 8   order_status                   110832 non-null  object
 9   order_purchase_timestamp       110832 non-null  datetime64[ns]
 10  order_approved_at              110817 non-null  datetime64[ns]
 11  order_delivered_carrier_date   110831 non-null  datetime64[ns]
 12  order_delivered_customer_date  110832 non-null  datetime64[ns]
 13  order_estimated_delivery_date  110832 non-null  datetime64[ns]
 14  delivery_time                  110832 non-null  float64
 15  delay_vs_estimated             110832 non-null  float64
 16  customer_unique_id             110832 non-null  object
 17  customer_zip_code_prefix       110832 non-null  object
 18  customer_city                  110832 non-null  object
 19  customer_state                 110832 non-null  object
 20  product_category_name          113314 non-null  object
 21  product_name_lenght            111702 non-null  float64
 22  product_description_lenght     111702 non-null  float64
 23  product_photos_qty             111702 non-null  float64
 24  product_weight_g               113314 non-null  float64
 25  product_length_cm              113314 non-null  float64
 26  product_height_cm              113314 non-null  float64
 27  product_width_cm               113314 non-null  float64
 28  seller_zip_code_prefix         113314 non-null  object
 29  seller_city                    113314 non-null  object
 30  seller_state                   113314 non-null  object
 31  payment_value                  113311 non-null  float64
 32  payment_installments           113311 non-null  float64
 33  payment_type                   113311 non-null  object
 34  review_id                      112372 non-null  object
 35  review_score                   112372 non-null  float64
 36  review_comment_title           112372 non-null  object
 37  review_comment_message         112372 non-null  object
 38  review_creation_date           112372 non-null  datetime64[ns]
 39  review_answer_timestamp        112372 non-null  datetime64[ns]
 40  purchase_date                  110832 non-null  object
 41  purchase_year                  110832 non-null  float64
 42  purchase_month                 110832 non-null  period[M]
 43  purchase_weekday               110832 non-null  float64
 44  estimated_delivery_time        110832 non-null  float64
 45  delivery_delay                 110832 non-null  float64
 46  item_total                     113314 non-null  float64
 47  has_comment                    113314 non-null  int64
dtypes: datetime64[ns](8), float64(19), int64(2), object(18), period[M](1)
memory usage: 41.5+ MB

In [ ]:
# fact.to_csv('fact.csv', index=False)

In [ ]:
from google.colab import auth
auth.authenticate_user()
print("Authenticated")

Authenticated

In [ ]:
PROJECT_ID = "nimble-climber-478516-q6"
BUCKET_NAME = "bdabi-group7"
DESTINATION_BLOB_NAME = "preprocessed/preprocessed.parquet"
LOCAL_FILE_PATH = "/content/fact.parquet"

In [ ]:
!pip install --quiet google-cloud-storage

from google.cloud import storage

client = storage.Client(project=PROJECT_ID)
bucket = client.bucket(BUCKET_NAME)
blob = bucket.blob(DESTINATION_BLOB_NAME)

blob.upload_from_filename(LOCAL_FILE_PATH)

In [ ]:
print(f"Uploaded to gs://{BUCKET_NAME}/{DESTINATION_BLOB_NAME}")
print("Using the url above to access the resource for processing")

Uploaded to gs://bdabi-group7/preprocessed/preprocessed.parquet
Using the url above to access the resource for processing